{% extends "./plantilla.html" %}
{% block body %}
<h1>EDITAR DIRECTOR</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'procesarActualizacionDirector' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{directorEditar.id}}">
                <label for="dni"><b>DNI:</b></label>
                <input type="text" name="dni" class="form-control" value="{{ directorEditar.dni }}" id="dni" placeholder="Ingrese el DNI del director">
                
                <label for="apellido"><b>Apellido:</b></label>
                <input type="text" name="apellido" class="form-control" value="{{ directorEditar.apellido }}" id="apellido" placeholder="Ingrese el apellido del director">
                
                <label for="nombre"><b>Nombre:</b></label>
                <input type="text" name="nombre" class="form-control" value="{{ directorEditar.nombre }}" id="nombre" placeholder="Ingrese el nombre del director">
                
                <label for="estado"><b>Estado:</b></label>
                <select name="estado" class="form-control" id="estado">
                    <option value="true" {% if directorEditar.estado %}selected{% endif %}>Activo</option>
                    <option value="false" {% if not directorEditar.estado %}selected{% endif %}>Inactivo</option>
                </select>
                <br>
                <label for="foto"><b>Fotografía:</b></label>
                {% if directorEditar.foto %}
                    <div>
                        <img src="{{ directorEditar.foto.url }}" alt="Foto actual" height="100px" width="100px">
                        <a download href="{{ directorEditar.foto.url }}">Descargar</a>
                    </div>
                {% endif %}
                <input type="file" name="foto" id="foto" accept="image/*" class="form-control">
                <br>
                <button  type="submit" class="btn btn-warning">
                    Actualizar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoDirectores' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}